@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}


/* Material UI Components Hard Overrides */
.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeSmall {
  color: #777 !important;
}

/* Set CSS inline */
.avkUserLink {
  color: rgb(11, 112, 184);
  font-weight: 600;
}

.avkUserLink:hover {
  text-decoration: underline;
}