html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}


/* Material UI Components Hard Overrides */
.css-7kykdr-MuiButtonBase-root-MuiIconButton-root,
.css-1wgcwo1-MuiButtonBase-root-MuiIconButton-root,
.css-nfrs8p-MuiButtonBase-root-MuiIconButton-root {
  color: #777 !important;
}